@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    color-scheme: light !important;
  }
}

:root {
 width: 100%; 
  --scale-factor: 1;
  --color-primaryColor: #1B1B1B;
  --color-secondaryColor: #FBD7BA;
  --color-backgroundColor: #EFF3FA;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #062571;
    transition: background-color 5000s ease-in-out 0s;
    
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}

@media (min-width: 1512px) {
  :root {
    --scale-factor: calc(100vw / 1512);
  }
}

@media (min-width: 1700px) {
  :root {
    --scale-factor: calc(100vw / 1700);
  }
}

 select {
    -moz-appearance:none !important; /* Firefox */
    -webkit-appearance:none !important;; /* Safari and Chrome */
    appearance:none !important;;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
.dashboard-table table th:first-child{
    border-radius:15px 0 0 0;
  }
  
.dashboard-table table th:last-child{
    border-radius:0 15px 0 0;
  }

.table-body tr td {
  border-bottom: 1px solid #e5e7eb;
}

.table-body tr:last-child td {
  border-bottom: none;
}

.dashboard-content {
    position: absolute;
    min-height: 100%;
    width: calc(100% - 7.25rem);
    overflow-y: hidden;
    overflow-x: hidden;
    left: 7.25rem;
    background-color: #000;
    padding-bottom: 2rem;

}
.dashboard-child {
    padding: 0rem 2.2rem 0rem 2.2rem;
    padding-top: 3.8rem;

}

.dashboard-top-style {
  height:50px;
  width:50px;
  bottom:0;      
  position:fixed;
  overflow:hidden;
  }

  .dashboard-top-style:before {
  content:'';
  display:block;
  height:100%;
  border-radius:0  0 0 50% ;
  box-shadow:0 0 0 50vw turquoise;
}

@media (min-device-width: 480px) and (max-device-width: 767px) {
    .dashboard-child {    
        padding: 0rem 0rem 0rem 0rem;
    }
    .dashboard-content {
        position: absolute;
        min-height: 100%;
        width: calc(100% - 7rem);
        left: 7rem;
        padding-bottom: 2rem;
    }
    .dashboard__content_shift {
        position: absolute;
        height: 100%;
        width: calc(100% - 16.5rem);
        left: 16.5rem;
        padding-bottom: 2rem;
    }
}

.Toastify__toast--success {
  border-left: 9px solid #04802E !important;

  border-radius: 4x !important;
  background: #FFFFFF !important;
}
.Toastify__toast--success::before {
  content: url("../public/assets/svg/successToast.svg");
  position:relative; 
  z-index:100000;
  left:12px;
  top:10px;
}
.Toastify__toast--success::after {
  content : url('../public/assets/svg/closeToast.svg');
  position: absolute;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  left:265px;
  padding-top: 14px !important;
}

.Toastify__toast-body {
  color: #101928    ;
  font-size: 14px;
  padding-left: 10px;
  line-height: 20px;
  padding: 0px;
  padding-top: 0px;
  width: 100%;
  font-weight: 500;
  margin-left: 5px !important;
} 
.Toastify__toast > button>  svg {
    display: none;
}
.Toastify__toast-icon  >  svg {
    display: none;
}
input[type="time"]::-webkit-calendar-picker-indicator{
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
  }
.react-calendar__tile--active {
background-color: white !important;
color: black !important;
}
.react-calendar__tile--range {}
.react-calendar__tile--rangeStart {}
.react-calendar__tile--rangeEnd{}